{{define "Index"}}
<!doctype html>
<html>
<head>
  <title>Tell the Turtle</title>
  <link rel="shortcut icon" href="/static/img/favicon.ico">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Patrick+Hand|PT+Sans">
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css">
  <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
<div class="page">

<section class="header">
  <h1><a href="/">Tell the Turtle</a></h1>
  {{if .Message}}
  <div class="message">{{.Message}}</div>
  {{end}}
</section>

<div class="row">

<section class="form">
<form action="" method="post">
  <p>
    <textarea name="body" rows="20" placeholder="{{.Topic}}">{{.Body}}</textarea>
  </p>
  <p>
    <input name="email" type="email" placeholder="Email" value="{{.Email}}">
  </p>
  <p>
    <button type="submit">Tell the Turtle</button>
  </p>
  <input type="hidden" name="topic" value="{{.Topic}}">
</form>
</section>

<section class="about">
<pre>
Legends speak of a certain turtle
that listens to people's tales.
Fact or fiction, it matters not -
as long as it's not stale.

Once you tell the turtle your story,
he will deliver it to another lost soul.
Somewhere out there you never know
who will take the reader's role.

Don't forget to check your mail,
for as you give, you shall receive
Though beware this creature's slowness
It may still come next next eve'
</pre>
</section>

</div>

<small>
<p>
  An experiment by
  <a href="http://marksteve.com">marksteve</a>
  and
  <a href="http://beatobongco.com">beatobongco</a>
</p>
<p class="stories-count">
  {{.StoriesCount}} stories
</p>
</small>

</div>
</body>
</html>
{{end}}
