* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  padding: 0;
}
body, textarea, input, button {
  font: 16px/1.5 PT Sans, sans-serif;
}
.page {
  max-width: 70rem;
  margin: 0 auto;
  padding: 1rem;
  position: relative;
}
.header {
  position: relative;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.form, .about {
  float: left;
}
.form {
  width: 60%;
}
.about {
  width: 40%;
}
h1 {
  margin-top: 0;
}
h1 a {
  background: url(../img/turtle.svg) no-repeat left center;
  text-indent: -10000em;
  height: 100px;
  background-size: 200px;
  text-decoration: none;
  display: block;
}
.message {
  font-family: Patrick Hand;
  position: absolute;
  top: 10px;
  left: 200px;
  text-transform: uppercase;
}
textarea, input, button {
  padding: 4px 8px;
}
textarea:focus, input:focus, button:focus {
  outline: none;
}
p {
  margin: 0 0 1.5rem 0;
}
textarea {
  border: 2px solid;
  border-radius: 10px;
  width: 100%;
}
input {
  border: solid;
  border-width: 0 0 2px 0;
  width: 50%;
}
button {
  margin: 1.5rem 0;
  border: 2px solid;
  border-radius: 10px;
  padding: 0 1rem;
  font-family: Patrick Hand;
  text-transform: uppercase;
  font-size: 200%;
  background: white;
}
.about {
  padding: 0 3rem;
}
.about pre {
  font-family: inherit;
  margin: 0;
}
.stories-count {
  color: #ddd;
}
.stories {
  list-style: none;
  padding: 0;
}
.stories li {
  padding: 1em;
  border: 1px #ddd solid;
  margin-bottom: 1.5em;
}
